<table style="width: 100%;margin-left: 10px;" align="center" cellspacing="0">
	<thead>
		<tr>
			<th style="width: 30%; text-align: left;"></th>
			<th style="width: 30%; text-align: left;"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: bottom;">
				<div style="height: 100%; position: relative;">
					<span style="font-size: 35px; text-transform: uppercase; font-weight: bold; position: absolute; bottom: 0;letter-spacing: -1.6px;">
						LIST DES RENDEZ-VOUS
					</span>
				</div>
			</td>
			<td style="width: 65%; text-align: right;">

				<img src="static/logo_black.png" style=" width: 150px; margin: 0;">

			</td>
		</tr>
	</tbody>
</table>
