<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>RDV-SOINS |&nbsp;
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class=" d-flex flex-column"></body>
	<body class=" d-flex flex-column bg-white">
		<div class="row g-0 flex-fill">
			<div class="col-12 col-lg-6 col-xl-4 border-top-wide border-vk d-flex flex-column justify-content-center" style="background: #0000002e;">
				<div class="container container-tight my-5 px-lg-5">
					<div class="text-center mb-4">
						<a href="." class="navbar-brand navbar-brand-autodark"><img src="static/logo_black.png" style=" width: 150px; margin: 0 auto;filter: invert(1);" alt=""></a>
					</div>
					<form method="post" autocomplete="off" novalidate style="background: #00000040;padding: 15px; border-radius: 8px">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<div class="mb-2">
							<label class="form-label" style="color: #fff;">Utilisateur</label>
							<input type="text" name="username" required id="inputUsername" class="form-control" placeholder="Utilisateur" autocomplete="off">
						</div>
						<div class="mb-2">
							<label class="form-label" style="color: #fff;">
								Mot de passe
							</label>
							<div class="input-group input-group-flat">
								<input type="password" name="password" id="inputPassword" require class="form-control" placeholder="Mot de passe" autocomplete="off">
								<span class="input-group-text">
									<a href="#" class="link-secondary" id="showPassword" title="Show password" data-bs-toggle="tooltip">
										<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
									</a>
								</span>
							</div>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="form-footer">
							<button type="submit" class="btn btn-vk w-100">Connexion</button>
						</div>
					</form>
				</div>
			</div>
			<div class="" style="position: absolute;z-index: -1;">
				<div class="bg-cover h-100 min-vh-100" style="background-image: url(static/evasym_background.jpeg)"></div>
			</div>
		</div>
	</body>
</html>
