<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>UPARTNER | 404
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body class=" border-top-wide border-primary d-flex flex-column">
		<script src="./dist/js/demo-theme.min.js?1692870487"></script>
		<div class="page page-center">
			<div class="container-tight py-4">
				<div class="empty">
					<div class="empty-header">500</div>
					<p class="empty-title">Oops…</p>
					<p class="empty-subtitle text-secondary">
						Vous avez rencontré une erreur interne.
					</p>
					<div class="empty-action">
						<a
							href="{{path('app_index')}}" class="btn btn-primary">
							<!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0"/><path d="M5 12l6 6"/><path d="M5 12l6 -6"/></svg>
							Retour à la page d'accueil
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
