<div class="modal fade" id="rdv_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title align-right" id="exampleModalLabel">Nouveau Rendez-vous</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="rdvBody">
				<form id="rdvForm">
					<div class="row row-cards">
						<div class="col-md-6">
							<label class="form-label">Nom Patient</label>
							<input required name="nom" id="nom" type="text" class="form-control" placeholder="Nom">
						</div>
						<div class="col-md-6">
							<label class="form-label">Prenom Patient</label>
							<input required name="prenom" id="prenom" type="text" class="form-control" placeholder="Prenom">
						</div>
						<div class="col-md-6">
							<label class="form-label">CIN Patient</label>
							<input required name="cin" id="cin" type="text" class="form-control" placeholder="CIN">
						</div>

						<div class="col-md-6">
							<label class="form-label">Date rendez-vous</label>
							<input required name="date" id="date" type="datetime-local" class="form-control datepicker">
						</div>
						<div class="col-md-12">
							<label class="form-label">Actes</label>
							<select class="actSelect form-control w-100" id="actSelect">
								<option>Choisissez un act</option>
								{% for act in actes %}
									<option value="{{act.id}}">{{act.designation}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-12">
							<table id="tablesActes" class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th>List actes</th>
										<th width="1%"></th>
									</tr>
								</thead>
								<tbody id="actTableBody">
									<tr id="placeholderRow">
										<td colspan="2" class="text-center .disabled">
											<p class="text-secondary small lh-base mb-0">Aucun acte n'est sélectionné</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary w-100 ajouterRdvBtn">
								<i class="fa-solid fa-plus"></i>&nbsp;&nbsp;&nbsp;Ajouter</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>
</div></div></div></div>
