<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title align-right" id="exampleModalLabel">Détails Rendez-vous</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="detailsBody">
				<main class="d-flex justify-content-center align-items-center flex-wrap">
					<div class="spinner-grow" role="status"></div>
					<div class="spinner-grow" role="status"></div>
					<div class="spinner-grow" role="status"></div>
				</main>
			</div>
		</div>
	</div>
</div>
